<!DOCTYPE html>
<html>
<head>
	<title>FotoBucket | Profile</title>
</head>
<body>
	<h1>Profile Page</h1>

	<strong>Last Name: </strong><%= user.lname %><br>
	<strong>First Name: </strong><%= user.fname %><br>
	<strong>Username: </strong><%= user.username %><br>
	<strong>password: </strong><%= user.password %><br>
	<strong>Email: </strong><%= user.email %><br>
	<br>
	<br>
	<a href="/logout"><button>Logout</button></a>





</body>
</html>