<!DOCTYPE html>
<html>
<head>
	<title>FotoBucket | Profile</title>
	<style>
        .photos{
           float: left; 
        }
    </style>
</head>
<body>
	<h1>Profile Page</h1>

	<strong>Last Name: </strong><%= user.lname %><br>
	<strong>First Name: </strong><%= user.fname %><br>
	<strong>Username: </strong><%= user.username %><br>
	<strong>password: </strong><%= user.password %><br>
	<strong>Email: </strong><%= user.email %><br>
	<br>
	<br>
	<h1>Image Gallery</h1>
	<a href="upload-2.html"><button>Add Photo</button></a>
    <div>
    <% for(let i in rows) {%>
    <div class="photos">
        <img src="thumbnails/<%= rows[i].dataValues.image%>">
        <!-- Using the photos from our thumbnails folder,
       
         and rendering them in this EJS -->
         <h6><%= rows[i].dataValues.username%></h6>
         <h6><%= rows[i].dataValues.comment%></h6>

        </div>
</div>
<%}%>
	<a href="/logout"><button>Logout</button></a>





</body>
</html>