<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="fb-styles.css">
	<title>fotoBucket | Profile</title>
</head>
<body>
		<% include ./header.ejs %>

	<div class="top-container">
		<img id="profpic" src="profile-pic/profile.png" style="width:100px">	


	Welcome to fotoBucket <strong><%= user.username %></strong>!<br><br>
	<strong>First Name: </strong><%= user.fname %><br>
	<strong>Last Name: </strong><%= user.lname %><br>
	<strong>Email: </strong><%= user.email %><br>
	<br>
	<br>

	<a href="upload-2.html"><button>Add Photo</button></a>
	</div>
	<br>
	<br>
	<br>
	<div class="bottom-container">
		<% for(let i in rows) {%>
				<div class="photos">
					<img src="thumbnails/<%= rows[i].dataValues.image%>">
					<p>
						<%= rows[i].dataValues.title %>
						<br>
						<%= rows[i].dataValues.comment %>
					</p>
				<div class="btn-profile">
					<form class="profile-btn" method="POST" action= "/edit/<%=rows[i].dataValues.id %>">
						<button>...</button>
					</form>

					<form class="profile-btn" method="GET" action="/comment/<%=rows[i].dataValues.id %>">
						<button>Comment</button>
					</form>
						<form class="profile-btn" method="POST" action="/delete/<%= rows[i].dataValues.id%>"> 
						<button>Delete</button>
					</form>
					</div>
				</div>
			<%}%>

		</div>
	
 </body>
</html>